button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.content {
  margin-top: 51px;
  padding: 32px 16px;
}

@media (max-width: 767px)
{
  .content {
    margin-top: 185px;
  }
}