.infocard-content {
  display: flex;
}

.infocard-header-content {
  display: flex;
  justify-content: space-between;
}

.infocard-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infocard-body {
  flex: 1;
}

.infocard-vote-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infocard-footer-content {
  display: flex;
  justify-content: space-between;
}