.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.not-found-code {
  font-size: 72px;
}

.not-found-text {
  font-size: 48px;
}